$color-fondo: #f5f7e9;
$color-oscuro:#4e7398;
$color-primario:#61a9d8;
$color-rojo:#f64444;
$color-rojoclaro:#f2a4a4;
$color-blanco:#FFFFFF;





$fuente-principal: 'Arial', sans-serif;

$sombra: 0 4px 12px rgba(0, 0, 0, 0.2);